:root {
  font-size: 62.5%;
  --bg-card: #6D67D0;
  --bg-card-light: rgba(102, 96, 200, 0.6);
  --font-white: #FFF;
  --font-light: #DAD8F7;
  --font-medium: #C2BFF4;
  --font-variant-green: #87EBCD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: var(--font-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
  padding: 6.4rem;
  background: url('../assets/background.png') no-repeat center/cover;
  display: grid;
  place-content: center;
  gap: 2.4rem;
}

section {
  border-radius: 10px;
  background: var(--bg-card);
  backdrop-filter: blur(10px);
}

.temperature-now {
  background: url('../assets/temp-now.jpg');
  position: relative;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.temperature-now::before {
  content: "";
  display: block;
  width: 17.6rem;
  height: 17.6rem;
  background: url('../assets/clouds.svg') no-repeat;
  position: absolute;
  top: -5.6rem;
  left: -5.6rem
}

.temperature-now .location {
  justify-self: end;

  padding: 3.2rem 3.2rem 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;


}

.temperature-now .location strong {
  color: var(--font-medium);
  font-size: 14px;
  font-weight: 700;
}

.temperature-now .temp {
  margin: 6rem;

  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.temperature-now .temp .number {
  text-align: center;

  color: var(--font-white);
  font-size: 8.8rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.temperature-now .temp .number .min-max {
  font-size: 2rem;
}

.temperature-now .temp .number .min-max span {
  color: var(--font-medium);
}

.temperature-now .temp .celcius {
  font-size: 2.4rem;
  color: var(--font-light);
  margin-top: 1.5rem;
}

.temperature-now .statistics {
  padding: 1.2rem;
  display: flex;
  gap: 0.8rem;
}

.temperature-now .statistics .stats {
  flex: 1;
  padding: 1.2rem 1.6rem;
  border-radius: 0.6rem;
  background: rgba(102, 96, 200, 0.60);

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.temperature-now .statistics .stats .info {
  color: #E7E6FB;
}

.temperature-now .statistics .stats .info h5 span,
.temperature-now .statistics .stats .info p {
  font-size: 1.2rem;
}

.temperature-now .statistics .stats .info h5 {
  font-size: 1.8rem;
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}

.air-quality {
  font-weight: bold;

  text-align: center;
  display: grid;
}

h2.title {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 3.2rem;
}

.air-quality .good {
  margin-top: 3.2rem;
  font-size: 1.8rem;
  color: var(--font-variant-green);
}

.air-quality .number {
  margin-top: 0.4rem;
  font-size: 4rem;
  color: #E7E6FB;
}

.air-quality .info {
  display: flex;
  margin-top: 3.2rem;
  padding: 0 1.6rem 1.6rem;

  font-size: 1.4rem;
}

.air-quality .info .number {
  flex: 1;
}

.air-quality .info p {
  color: var(--font-variant-green);
  font-weight: 700;
}

.air-quality .info small {
  color: #E7E6FB;
  font-size: 1.2rem;
}